nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 0.7rem 1rem;
  box-sizing: border-box;
  height: 5.4rem;
  z-index: 100;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 0;
}

nav .container .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
